<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto coins</title>
</head>
<body style="display: flex; justify-content: flex-start; align-items: center; height: 100vh; padding: 20px; margin: 0">
<form method="POST"
      style="display: flex; justify-content: center; align-items: center; height: 100vh; padding: 0; margin: 0; flex-direction: column">

    {% csrf_token %}

    <div class="lists"
         style="display: flex; justify-content: center; align-items: center; height: 100vh; padding: 0; margin: 0">
        <div class="mainCoin">
            <label style="text-align: center">
                <h1>Main coin</h1>
                <select style="width: 250px; height: 50vh" name="mainCoin">
                    {% for el in all_coins %}
                        <option {% if el == configs.main_coin %}selected{% endif %} value="{{ el }}">{{ el }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <label style="text-align: center">
            <h1>Values</h1>
            <input value="{% for el in configs.values %}{{ el }} {% endfor %}" name="values" type="text">
        </label>

        <label style="text-align: center">
            <h1>Junoswap</h1>
            <select style="width: 250px; height: 70vh" multiple name="junoswap">
                {% for el in junoswap %}
                    <option {% if el in configs.add_coins.junoswap %}selected{% endif %}
                            value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
        </label>
        <label style="text-align: center">
            <h1>Sifchain</h1>
            <select style="width: 250px; height: 70vh" multiple name="sifchain">
                {% for el in sifchain %}
                    <option {% if el in configs.add_coins.sifchain %}selected{% endif %}
                            value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
        </label>
        <label style="text-align: center">
            <h1>Marbledao</h1>
            <select style="width: 250px; height: 70vh" multiple name="marbledao">
                {% for el in marbledao %}
                    <option {% if el in configs.add_coins.marbledao %}selected{% endif %}
                            value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
        </label>
        <label style="text-align: center">
            <h1>Osmosis</h1>
            <select style="width: 250px; height: 70vh" multiple name="osmosis">
                {% for el in osmosis %}
                    <option {% if el in configs.add_coins.osmosis %}selected{% endif %}
                            value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
        </label>
        <label style="text-align: center">
            <h1>Crescent</h1>
            <select style="width: 250px; height: 70vh" multiple name="crescent">
                {% for el in crescent %}
                    <option {% if el in configs.add_coins.crescent %}selected{% endif %}
                            value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <input style="width: 100px; height: 50px" type="submit" value="Сохранить">
</form>
</body>
</html>